*{
    font-family: 'Times New Roman', Times, serif;
}

.navbar {
    height: 10vh;
}

.navbar-brand {
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    color:blueviolet;
}

.btn {
    padding: 12px 35px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border-radius: 0%;
    transition:all ease-in-out .5s;
}

.btn-brand {
    background-color: blueviolet;
    color:azure;
}

.btn-brand:hover {
    border: 2px solid chartreuse;
    color:red;
}
.navbar .nav-link {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-transform: uppercase;
}

#banner {
    background: url('ariel.png');
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 75px;
    color: navy;
}

#banner p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: crimson;
}

.card-img-top {
    width: 50%;
}
.card {
    padding: 25px 20px;
    border: 2px solid rgba(0, 0, 255, 0.495);
    transition: all ease-in .4s;
}
.card:hover{
    box-shadow: 0 0 45px 0 rgba(43, 2, 228, 0.945);
    transform: scale(1.1);
    background-color: rgb(236, 4, 4);
}
.card:hover .card-title,
.card:hover .card-text {
    color: white;
}

section {
    padding: 100px 0;
}

#sugpon h2 {
    font-family:'Times New Roman', Times, serif;
    font-size: 65px;
    color: rgb(12, 19, 223);
    margin-bottom: 30px;
}

#about {
    background-color: blueviolet;
}

#about img{
    border: 5px solid red;
}

#about .btn-brand {
    background-color: red;
    color: yellow;
}

#about h2{
    color: red;
    font-size: 95px;
}

.wew{
    width: 65px;
}

.testimonials {
border: 3px solid rgba(255, 0, 200, 0.918);
padding: 20px;
margin-top: 20px;
transition: all ease-in .4s;
}

.testimonials:hover {
    transform: scale(1.1);
}

#reviews h2{
    font-size: 55px;
}

#faq{
    background-color: goldenrod;
}
    
.faq-section {
max-width: 800px;
margin: auto;
}
.acccordion {
    background-color:blue;
    color: white;
    border-bottom: 1px solid red;
    border-radius: 0 !important;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s;
}

.accordion-body {
    border-left: 3px solid red ;
    padding: 10px 25px;
    margin-left: 0;
    background-color: green;
    color: white;
}

.acccordion-button:not(.collapsed) {
    background-color: red;
    color: white;
}

.accordion-button:hover{
    background-color: rgb(172, 240, 12);
    color: black;
}

#footer {
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: black;
    }
#footer ul.list-unstyled li a{
    color: #ffffff;
    text-decoration: none;
}
#footer ul.list-unstyled li a:hover{
    color: blueviolet;
}
#footer button {
    border-radius: 1px;
}
@media screen and (max-width: 768px) {
    .navbar{
        height: auto;
    }
    #banner h1{
        font-size: 40px !important;
    }
    #sugpon h2{
        font-size: 40px !important;
    }
    #sugpon .col {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    section {
        padding: 60px 20px !important;
    }

    #footer {
        padding: 60px 20px !important;
    }
    #about img{
        height: 410px;
        width: 350px;
        margin: 0 auto;
        object-fit: cover;
    }
    #about h2{
        font-size: 40px !important;
    }
}   